@use "../global" as *;

.p-404 {
  height: 100vh;
  padding-top: rem(89);
  padding-bottom: rem(110);
  background: url(../images/common/mv_404_sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @include mq(md) {
    background: url(../images/common/mv_404.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: rem(176);
    padding-bottom: rem(96);
    height: rem(768);
  }
}
.p-404__content {
  border: 3px solid $white;
  padding-top: rem(116);
  padding-bottom: rem(116);
  background: rgba($color: $white, $alpha: 0.5);
  backdrop-filter: blur(6px);
  padding-left: rem(30);
  padding-right: rem(30);
  @include mq(md) {
    padding-left: initial;
    padding-right: initial;
  }
}
.p-404__block {
  max-width: rem(650);
  margin-inline: auto;
}

.p-404__title-wrapper {
  display: flex;
  align-items: center;
}

.p-404__title {
  color: $black;
  font-weight: 600;
  font-family: $special-gothic;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(40);
  }
}

.p-404__number {
  color: rgba($color: $black, $alpha: 0.15);
  letter-spacing: 0.05em;
  line-height: 1;
  font-size: rem(68);
  margin-left: rem(15);
  @include mq(md) {
    margin-left: rem(22);
    font-size: rem(128);
  }
}

.p-404__text-wrapper {
  margin-top: rem(8);
  @include mq(md) {
    margin-top: rem(24);
  }
}

.p-404__text {
  line-height: 1.6;
  font-weight: 400;
  color: $black;
  font-size: rem(13);
  @include mq(md) {
    font-size: rem(18);
  }
}

.p-404__btn-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: rem(5);
  @include mq(md) {
    margin-top: rem(24);
  }
}
.p-404__btn {
  background: #6d6d6d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #6d6d6d;
  border-radius: rem(40);
  transition: 0.3s ease-in-out;
  width: rem(140);
  padding: rem(6) rem(10);
  @include mq(md) {
    padding-top: rem(8);
    padding-bottom: rem(8);
    padding-left: rem(22);
    padding-right: rem(14);
    width: rem(250);
  }
}
.p-404__btn-text {
  font-weight: 500;
  color: $white;
  font-size: rem(10);
  transition: 0.3s ease-in-out;
  @include mq(md) {
    letter-spacing: 0.1em;
    font-size: rem(16);
  }
}
.p-404__btn:hover {
  background: $white;
  transition: 0.3s ease-in-out;
}
.p-404__btn:hover .p-404__text {
  color: $white;
}
.p-404__btn svg {
  width: rem(15);
  height: rem(15);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}
.p-404__btn circle,
.p-404__btn path {
  transition: 0.3s ease-in-out;
}
.p-404__btn:hover circle {
  fill: #6d6d6d;
  opacity: 1;
}

.p-404__btn:hover path {
  fill: $white;
}
.p-404__btn:hover .p-404__btn-text {
  color: #6d6d6d;
}
.test {
  font-size: rem(50);
  color: #4fc3e0;
}
.p-test__img {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(60);
  }
}
.p-test__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}