@use "../global" as *;

.p-conditions {
  padding-top: rem(64);
  padding-bottom: rem(64);
  @include mq(md){
    padding-top: rem(120);
    padding-bottom: rem(260);
  }
}

.p-conditions__content {
  max-width: rem(1000);
  margin-inline: auto;
  display: grid;
  gap: rem(32);
  @include mq(md){
    gap: rem(64);
  }
}

.p-conditions__section {
  display: grid;
  gap: rem(16);
  @include mq(md){
    gap: rem(24);
    
  }
}

.p-conditions__h3 {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.p-conditions__h3Bar {
  width: rem(3);
  height: rem(16);
  background: #044396;
  flex: none;
}

.p-conditions__h3Title {
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(24);
  }
}

.p-conditions__text {
  font-size: rem(16);
  line-height: 2;

  @include mq(md) {
    font-size: rem(18);
  }
}

.p-conditions__list {
  padding-left: rem(16);

}

.p-conditions__listItem {
  font-size: rem(16);
  line-height: 2;
  text-indent: -1em;
  padding-left: 1em;
  @include mq(md) {
    font-size: rem(18);
  }
}

