@use "../global" as *;

.p-front-work {
  position: relative;
  z-index: 2;
  overflow-x: clip;
  padding-top: rem(56);
  padding-bottom: rem(56);

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(80);

  }
}

.p-front-work__bg {
  position: absolute;
  width: 100%;
  z-index: -1;

  @include mq(md) {
    top: rem(-120);
    left: rem(-40);

  }
}

.p-front-work__title {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include mq(md) {
    gap: rem(12);
  }
}

.p-front-work__title-ja {
  display: flex;
  align-items: center;
  color: #1a1a1a;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;
  font-size: rem(14);
  gap: rem(8);

  @include mq(md) {
    gap: rem(12);
    font-size: rem(18);

  }
}

.p-front-work__title-ja::before {
  content: "";
  width: rem(4);
  height: rem(4);
  border-radius: 9999px;
  background: #044396;
  display: inline-block;

  @include mq(md) {
    width: rem(6);
    height: rem(6);
  }
}

.p-front-work__title-en {
  color: #1a1a1a;
  font-family: $special-gothic;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1;
  font-size: rem(48);

  @include mq(md) {
    font-size: rem(96);
  }
}

.p-front-work__cards {
  margin-top: rem(32);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: rem(7);
  @include mq(md) {
    margin-top: rem(64);
    gap: rem(20);
  }
}

.p-front-work__card {
  background: #fff;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
  border-radius: rem(8);
  padding: rem(16);

  @include mq(md) {
    padding: rem(20);
    border-radius: rem(10);

  }
}

.p-front-work__card-inner {
  @include mq(md) {
    display: flex;
    align-items: flex-end;
    gap: rem(16);

  }
}

.p-front-work__card-content {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(20);
    flex: 1;

  }
}

.p-front-work__card-content--large {
  gap: rem(40);
}

.p-front-work__card--large {
  @include mq(md) {
    width: 100%;
  }
}

.p-front-work__card:not(.p-front-work__card--large) {
  // @include mq(md) {
  //   width: calc((100% - rem(20)) / 2);
  // }
}

.p-front-work__card-img {
  overflow: hidden;
  border-radius: rem(8);

  @include mq(md) {
    width: rem(188);
    border-radius: rem(10);

  }
}

.p-front-work__card-img--large {
  @include mq(md) {

    width: rem(600);
  }
}

.p-front-work__card-img--large img {
  aspect-ratio: 600 / 380;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.p-front-work__card-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
  display: block;
}

.p-front-work__card-body {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: rem(12);
  gap: rem(8);

  @include mq(md) {
    gap: rem(32);
    margin-top: initial;
  }
}
.p-front-work__card-body--large {
  margin-top: rem(24);
  gap: rem(16);
  @include mq(md){
    gap: rem(32);
    margin-top: initial;
  }
}

.p-front-work__card-head {
  display: flex;
  flex-direction: column;
  gap: rem(4);

  @include mq(md) {

    gap: rem(12);
  }
}

.p-front-work__card-subtitle {
  font-weight: 400;
  line-height: 0.8;
  color: #aab9cb;
  font-family: $special-gothic;
  font-size: rem(10);

  @include mq(md) {
    font-size: rem(16);

  }
}

.p-front-work__card-subtitle--large {
  font-size: rem(12);

  @include mq(md) {
    font-size: rem(16);
  }
}


.p-front-work__card-title {
  font-weight: 500;
  line-height: 1.4;
  color: #044396;
  font-size: rem(16);
  @include mq(md){
    
    font-size: rem(24);
  }

}

.p-front-work__card-title--large {
  font-size: rem(24);

  @include mq(md) {
    font-size: rem(40);
  }
}

.p-front-work__card-text {
  line-height: 1.6;
  color: #1a1a1a;
  font-size: rem(12);

  @include mq(md) {
    font-size: rem(16);

  }
}

.p-front-work__card-text--large {
  font-size: rem(14);
  line-height: 1.6;

  @include mq(md) {
    font-size: rem(16);
    max-width: rem(536);

  }
}

.p-front-work__card-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  width: rem(22);
  height: rem(22);
  margin-top: auto;
  margin-left: auto;

  @include mq(md) {
    margin-left: initial;
    margin-top: initial;
    width: rem(28);
    height: rem(28);

  }
}

.p-front-work__card-btn--m {
  width: rem(22);
  height: rem(22);
  margin-top: auto;
  margin-left: auto;

  @include mq(md) {
    margin-left: initial;
    margin-top: initial;
    width: rem(48);
    height: rem(48);

  }
}

.p-front-work__card-btn img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-front-work__card:hover {
  opacity: 0.95;
}
.p-front-work__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(7);
  @include mq(md){
    gap: rem(20);
  }
}