@use "../global" as *;

.p-header {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
}

.p-header__inner {
  padding-left: rem(20);
  padding-right: rem(20);
  padding-top: rem(20);

  @include mq(md) {
    padding-left: rem(32);
    padding-right: rem(32);
    padding-top: rem(32);

  }
}

.p-header__content {
  display: flex;
}

.p-header__logo {
  margin-top: rem(12);
  transition: 0.3s ease-in-out;

  @include mq(md) {
    margin-top: rem(20);
  }
}

.p-header.js-scroll-header .p-header__logo {
  margin-top: rem(8);

  @include mq(md) {
    margin-top: rem(12);
  }
}

.p-header__home {
  display: inline-block;
  width: rem(52);
  transition: 0.3s ease-in-out;

  @include mq(md) {
    width: rem(83);

  }
}

.p-header.js-scroll-header .p-header__home {
  width: rem(40);

  @include mq(md) {
    width: rem(72);
  }
}

.p-header__logo img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-header__nav {
  margin-left: auto;
}

.p-header__lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: rem(4);
  transition: 0.3s ease-in-out;
  @include mq(md) {
    gap: rem(12);
  }
}

.p-header.js-scroll-header .p-header__lists {
  gap: rem(4);

  @include mq(md) {
    gap: rem(6);
  }
}

.p-header__list {}

.p-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #044396;
  font-family: $special-gothic;
  line-height: 1;
  text-transform: uppercase;
  width: rem(72);
  height: rem(48);
  border-radius: rem(8);
  font-size: rem(12);
  transition: 0.3s ease-in-out;
  margin-left: auto;

  @include mq(md) {

    font-size: rem(24);
    border-radius: rem(10);
    width: rem(120);
    height: rem(120);
  }
}

.p-header.js-scroll-header .p-header__link {
  width: rem(60);
  height: rem(40);
  margin-left: auto;

  @include mq(md) {
    width: rem(80);
    height: rem(80);
    font-size: rem(16);
  }
}

.p-header.js-scroll-header .p-header__drawer {
  width: rem(60);
  height: rem(40);

  @include mq(md) {
    width: rem(80);
    height: rem(80);
  }
}

.p-header__drawer {
  width: rem(72);
  height: rem(48);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1A1A1A;
  border-radius: rem(8);

  @include mq(md) {
    width: rem(120);
    border-radius: rem(10);
    height: rem(120);
  }
}



.p-header__recruit {
  margin-top: rem(4);

  @include mq(md) {
    margin-top: rem(12);
  }
}

.p-header.js-scroll-header .p-header__recruit {
  margin-top: rem(4);

  @include mq(md) {
    margin-top: rem(6);
  }
}

.p-header__recruit-link {
  background: #fff;
  transition: 0.3s ease-in-out;
  border: 1px solid #044396;
  border-radius: rem(5);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #044396;
  height: rem(30);
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(18);
    height: rem(42);
  }
}

.p-header.js-scroll-header .p-header__recruit-link {
  height: rem(24);
  font-size: rem(12);

  @include mq(md) {
    height: rem(36);
    font-size: rem(16);
  }
}