@use "../global" as *;

.p-interview {
  padding-top: rem(80);
  padding-bottom: rem(100);

  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(200);
  }
}

.p-interview__items {
  display: flex;
  flex-direction: column;
  gap: rem(56);

  @include mq(md) {
    gap: rem(120);
  }
}

.p-interview__item {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  @include mq(md) {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: rem(48);
  }
}

.p-interview__item:nth-child(even) {
  @include mq(md) {
    flex-direction: row;
  }
}

.p-interview__media {
  width: 100%;
  border-radius: rem(10);
  overflow: hidden;

  @include mq(md) {
    width: min(rem(700), 54.6875%);
    flex-shrink: 0;
  }
}

.p-interview__embed {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 700 / 394;
  background: #000;
  border: 0;
}

.p-interview__body {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  @include mq(md) {
    width: min(rem(532), 41.5625%);
    gap: rem(32);
  }
}

.p-interview__number {
  color: #044396;
  font-family: $special-gothic;
  font-weight: 400;
  line-height: 1.4;
  display: flex;
  align-items: baseline;
  gap: rem(4);
}

.p-interview__numberLabel {
  font-size: rem(20);
  line-height: 1.4;
}

.p-interview__numberValue {
  font-size: rem(40);
  line-height: 1;

  @include mq(md) {
    font-size: rem(48);
  }
}

.p-interview__texts {
  display: flex;
  flex-direction: column;
  gap: rem(20);

  @include mq(md) {
    gap: rem(32);
  }
}

.p-interview__title {
  color: #1a1a1a;
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(32);
  }
}

.p-interview__description {
  color: #1a1a1a;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.7;

  @include mq(md) {
    font-size: rem(14);
    line-height: 1.4;
  }
}
