@use "../global" as *;

.p-king {
  position: relative;
  z-index: 1;
  background: url(../images/top/king_bg_sp.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 375 / 560;
  object-fit: cover;

  @include mq(md) {
    padding-top: initial;
    padding-bottom: initial;
    background: url(../images/top/king_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    aspect-ratio: 1440 / 576;
    object-fit: cover;
  }
}
.p-king .l-inner {
  position: relative;
  height: 100%;
}

.p-king__content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: rem(20);
}

.p-king__title {
  color: #fff;
  font-size: rem(48);
  font-weight: 500;
  line-height: 1.2;

  @include mq(md) {
    font-size: rem(64);
  }
}

.p-king__cards {
  margin-top: rem(20);
  display: flex;
  gap: rem(4);
  flex-direction: column;

  @include mq(md) {
    gap: rem(12);
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: rem(40);

  }
}

.p-king__card {
  background: #fff;
  border: 1px solid #fff;
  border-radius: rem(4);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(8) rem(16);
  width: rem(198);

  @include mq(md) {
    width: calc((100% - rem(12)) / 2);
    padding: rem(28) rem(16);
    width: rem(154);
    padding: rem(40) rem(24);
  }
}

.p-king__card-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(8);

  @include mq(md) {
    justify-content: initial;
    gap: rem(12);
    width: rem(99);
    flex-direction: column;

  }
}

.p-king__card-label {
  color: #044396;
  font-size: rem(14);
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.2;
  width: rem(84);

  @include mq(md) {
    width: initial;
    font-size: rem(16);
    line-height: 1.4;
    min-height: rem(44);
  }
}

.p-king__card-value {
  color: #044396;
  font-size: rem(36);
  font-weight: 400;
  line-height: 1;
  text-align: center;

  @include mq(md) {
    font-size: rem(46);
  }
}