@use "../global" as *;

.p-king {
  background-image: image-set(
    url(../images/top/king_bg.webp) type("image/webp"),
    url(../images/top/king_bg.png) type("image/png")
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  padding-top: rem(180);
  padding-bottom: rem(220);
  // aspect-ratio: 1440 / 776;
  position: relative;
  z-index: 1;
}

.p-king__content {
}

.p-king__title {
  color: #fff;
  font-size: rem(40);
  font-weight: 500;
  line-height: 1.2;

  @include mq(md) {
    font-size: rem(64);
  }
}

.p-king__cards {
  margin-top: rem(40);
  display: flex;
  gap: rem(12);
  flex-wrap: wrap;
}

.p-king__card {
  width: calc((100% - rem(12)) / 2);
  background: #fff;
  border: 1px solid #fff;
  border-radius: rem(4);
  padding: rem(28) rem(16);
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    width: rem(154);
    padding: rem(40) rem(24);
  }
}

.p-king__card-inner {
  width: rem(99);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(12);
}

.p-king__card-label {
  color: #044396;
  font-size: rem(14);
  font-weight: 500;
  line-height: 1.4;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  @include mq(md) {
    font-size: rem(16);
    min-height: rem(44);
  }
}

.p-king__card-value {
  color: #044396;
  font-size: rem(38);
  font-weight: 400;
  line-height: 1;
  text-align: center;

  @include mq(md) {
    font-size: rem(46);
  }
}

