@use "../global" as *;

.p-mv {
  padding-left: rem(20);
  padding-right: rem(20);
}

.p-mv__row {
  display: flex;
  gap: rem(20);
}

.p-mv__img {
  width: calc(900 / 1400 * 100%);
}

.p-mv__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.p-mv__column {
  display: grid;
  flex: 1;
  gap: rem(16);
  width: calc(480 / 1400 * 100%);
}

.p-mv__column-img {
}

.p-mv__column-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}