@use "../global" as *;

.p-news {
  padding-top: rem(64);
  padding-bottom: rem(64);

  @include mq(md) {
    padding-top: rem(80);
    padding-bottom: rem(120);

  }
}

.p-news__content {
  @include mq(md) {
    display: flex;
    gap: rem(80);

  }
}

.p-news__categories {
  display: flex;
  flex-wrap: wrap;
  gap: rem(12);
  width: 100%;

  @include mq(md) {
    gap: rem(16);
    max-width: rem(140);
    flex-direction: column;

  }
}

.p-news__category {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  border: 1px solid #c2c9d0;
  background: transparent;
  color: #044396;
  line-height: 1;
  font-weight: 400;
  width: rem(100);
  height: rem(40);
  font-size: rem(14);

  @include mq(md) {
    width: rem(140);
    height: rem(56);
    font-size: rem(16);

  }
}

.p-news__category.is-active {
  background: #044396;
  border-color: #044396;
  color: #fff;
}

.p-news__list {
  width: 100%;
  border-top: 1px solid #c2c9d0;
  margin-top: rem(24);

  @include mq(md) {
    margin-top: initial;
    max-width: rem(1060);
    flex: 1;

  }
}

.p-news__item {
  display: grid;
  gap: rem(16);
  border-bottom: 1px solid #c2c9d0;
  text-decoration: none;
  color: inherit;
  padding: rem(24) rem(8);

  @include mq(md) {
    padding: rem(48) rem(8);
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: rem(20);
  }
}

.p-news__meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: rem(12);

  @include mq(md) {
    gap: rem(20);

  }
}

.p-news__date {
  font-family: $special-gothic;
  font-weight: 400;
  line-height: 1;
  color: #044396;
  font-size: rem(14);

  @include mq(md) {
    font-size: rem(18);

  }
}

.p-news__tag {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  border: 1px solid #c2c9d0;
  border-radius: 9999px;
  font-weight: 400;
  line-height: 1;
  color: #044396;
  width: rem(80);
  padding: rem(4) rem(12);
  font-size: rem(12);

  @include mq(md) {
    width: rem(96);
    padding: rem(6) rem(16);
    font-size: rem(16);

  }
}

.p-news__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(24);

  @include mq(md) {
    gap: rem(40);
  }
}

.p-news__title {
  font-size: rem(16);
  font-weight: 400;
  line-height: 1.6;
  color: #1a1a1a;

  @include mq(md) {
    font-size: rem(20);
    max-width: rem(715);
  }
}

.p-news__btn {
  width: rem(28);
  height: rem(28);
  flex: none;
  display: grid;
  place-items: center;
}

.p-news__pager {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: rem(20);
  gap: rem(12);

  @include mq(md) {
    gap: rem(16);
    margin-top: rem(32);

  }
}

.p-news__page,
.p-news__pagerBtn {
  width: rem(48);
  height: rem(48);
  border-radius: rem(3);
  display: grid;
  place-items: center;
  text-decoration: none;
  color: #044396;
  border: 1px solid #c2c9d0;
  background: transparent;
  font-family: $special-gothic;
  font-size: rem(16);
  line-height: 1;
}

.p-news__page.is-current {
  background: #044396;
  border-color: #044396;
  color: #fff;
}

.p-news__pagerBtn.is-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.p-news__pagerBtn:last-child img {
  transform: rotate(180deg);
}