@use "../global" as *;

.p-privacy {
  padding-top: rem(120);
  padding-bottom: rem(120);
}

.p-privacy__content {
  max-width: rem(1000);
  margin-inline: auto;
  display: grid;
  gap: rem(64);
}

.p-privacy__lead {
  font-size: rem(16);
  line-height: 2;

  @include mq(md) {
    font-size: rem(18);
  }
}

.p-privacy__section {
  display: grid;
  gap: rem(24);
}

.p-privacy__h3 {
  display: flex;
  align-items: center;
  gap: rem(12);
}

.p-privacy__h3Bar {
  width: rem(3);
  height: rem(16);
  background: #044396;
  flex: none;
}

.p-privacy__h3Title {
  font-size: rem(20);
  font-weight: 500;
  line-height: 1.4;

  @include mq(md) {
    font-size: rem(24);
  }
}

.p-privacy__text {
  font-size: rem(16);
  line-height: 2;

  @include mq(md) {
    font-size: rem(18);
  }
}

