@use "../global" as *;

.p-top-column {
  padding-top: rem(80);
  padding-bottom: rem(80);
  background: #044396;
  overflow-x: clip;
  position: relative;

  @include mq(md) {
    padding-top: rem(120);
    padding-bottom: rem(200);
    border-top-left-radius: rem(100);
    border-bottom-right-radius: rem(100);
  }
}

.p-top-column__head {
  display: flex;
  flex-direction: column;
  gap: rem(24);

  @include mq(md) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: rem(40);
  }
}

.p-top-column::before {
  position: absolute;
  content: '';
  background: url(../images/top/interview_curve.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: rem(50);
  height: auto;
  aspect-ratio: 100 / 100;
  object-fit: cover;
  bottom: 0;
  right: 0;
  @include mq(md){
    width: rem(100);
  }
}

.p-top-column__title {
  display: flex;
  flex-direction: column;
  gap: rem(8);

  @include mq(md) {
    gap: rem(12);
  }
}

.p-top-column__title-ja {
  display: flex;
  align-items: center;
  gap: rem(8);
  color: #fff;
  font-size: rem(14);
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1;

  @include mq(md) {
    font-size: rem(18);
  }
}

.p-top-column__title-ja::before {
  content: "";
  width: rem(4);
  height: rem(4);
  border-radius: 9999px;
  background: #aab9cb;
  display: inline-block;

  @include mq(md) {
    width: rem(6);
    height: rem(6);
  }
}

.p-top-column__title-en {
  color: #fff;
  font-family: $special-gothic;
  font-weight: 400;
  line-height: 1;
  font-size: rem(48);

  @include mq(md) {
    font-size: rem(96);
  }
}

.p-top-column__actions {
  display: none;

  @include mq(md) {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: rem(32);
  }
}

.p-top-column__nav {
  display: flex;
  align-items: center;
  gap: rem(32);
  position: relative;

}

.p-top-column__nav::before {
  position: absolute;
  content: '';
  background: #C2C9D0;
  width: 1px;
  height: rem(48);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.p-top-column__prev,
.p-top-column__next {
  position: static;
  width: rem(48);
  height: rem(48);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.p-top-column__prev::after,
.p-top-column__next::after {
  display: none;
}

.p-top-column__prev img,
.p-top-column__next img {
  width: rem(20);
  height: rem(20);
  display: block;
}

.p-top-column__prev img {
  transform: rotate(180deg);
}

.p-top-column__prev.swiper-button-disabled,
.p-top-column__next.swiper-button-disabled {
  opacity: 0.35;
  cursor: default;
}

.p-top-column__icon {
  width: rem(129);
}

.p-top-column__swiper {
  margin-top: rem(40);
  overflow: visible;

  @include mq(md) {
    margin-top: rem(64);
  }
}

.p-top-column__cards {
  display: flex;
}

.p-top-column__slide {

  @include mq(md) {
    width: rem(395);
  }
}

.p-top-column__card {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: inherit;

  @include mq(md) {
    gap: rem(20);

  }
}

.p-top-column__card-img {
  border-radius: rem(5);
  overflow: hidden;
  aspect-ratio: 395 / 222;
}

.p-top-column__card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-top-column__card-text {
  color: #fff;
  font-size: rem(16);
  font-weight: 500;
  line-height: 1.6;
  margin-top: rem(16);

  @include mq(md) {
    font-size: rem(18);
    margin-top: initial;
  }
}

.p-top-column__meta {
  display: flex;
  align-items: center;
  margin-top: rem(12);
  gap: rem(16);

  @include mq(md) {
    gap: rem(12);
    margin-top: initial;
  }
}

.p-top-column__date {
  color: #fff;
  font-family: $special-gothic;
  font-weight: 400;
  line-height: 1.6;
  font-size: rem(12);

  @include mq(md) {
    font-size: rem(14);

  }
}

.p-top-column__category {
  color: #fff;
  border: 1px solid #c2c9d0;
  border-radius: 9999px;
  padding: rem(8) rem(20);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0.02em;
  font-size: rem(13);

  @include mq(md) {
    font-size: rem(14);

  }
}

.p-top-column__right {
  margin-right: calc(50% - 50vw);
}

.p-top-column__more-sp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(40);

  @include mq(md) {
    display: none;
  }

}